.App {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px;
  background-color: #eef2f3;
  background-image: linear-gradient(340deg,  #8e9eab 32%,  #eef2f3 68%);
}

.ml-1 {
  margin-left: 8px;
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
  }
}