.experience-container {
  width: 100%;
  margin-bottom: 30px;
}

.experience-container .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0px;
}

.experience-container .card .header {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

.experience-container .card .body {
  width: 70%;
  min-width: 200px;
}

.experience-container .card .header .title,
.experience-container .card .body .title {
  color: #FFF;
  margin-bottom: 15px;
}

.experience-container .card .body ul {
  padding: 0 0 0 30px;
}

.experience-container .card .body ul li {
  margin-bottom: 8px;
  list-style: url('../images/code-solid.svg');
  list-style-position: outside;
  line-height: 20px;
}

@media screen and (max-width: 700px) {
  .experience-container .card {
    flex-direction: column;
    justify-content: flex-start;
  }

  .experience-container .card .header,
  .experience-container .card .body {
    width: 100%;
    max-width: none;
  }
}