@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el scrollbar en navegadores compatibles con WebKit (Chrome y Safari) */
/* Cambia los colores y estilos según tus preferencias */
/* Puedes agregar más propiedades para ajustar el aspecto del scrollbar */

/* Cambia el ancho del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Cambia el color y el estilo del thumb (la parte del scrollbar que se arrastra) */
::-webkit-scrollbar-thumb {
  background-color: #66cc99; /* Color del thumb */
  border-radius: 5px; /* Borde redondeado del thumb */
}

/* Cambia el color del thumb al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #9099a0; /* Color del thumb al pasar el mouse */
}

/* Cambia el color y el estilo del scrollbar track (la parte del scrollbar que no se arrastra) */
::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color del track */
}

/* Cambia el color y el estilo del scrollbar corner (la esquina del scrollbar) */
::-webkit-scrollbar-corner {
  background-color: #f5f5f5; /* Color de la esquina del scrollbar */
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: blue;
}

li {
  list-style: none;
}